.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid blue;
  border-radius: 5px;
  width: 300px;
}
.item {
  height: 20px;
  border-radius: 5px;
  width: 100px;
}
.contain {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
